@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-plusjakarta;
    }

    th {
        @apply py-4 text-center;
    }

    tr {
        @apply py-4 text-center;
    }

    tbody tr:nth-child(odd) {
        @apply bg-[#FAFAFA];
    }

    tbody tr:nth-child(even) {
        @apply bg-[#F4F4F4];
    }

    tbody td {
        @apply py-4;
    }

    li.activate {
        @apply bg-[#F5F5F7] rounded-[10px];

        a {
            @apply text-[#141522] font-bold;
        }

        button {
            @apply text-[#141522] font-bold;
        }

        svg {
            @apply stroke-[#141522];
        }
    }
}

svg {
    @apply stroke-[#8E92BC];
}

/* Styling untuk tombol exit */
.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.exit-button:hover {
    color: red;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay */
    z-index: 100; /* Pastikan modal berada di atas elemen lain */
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    z-index: 100; /* Pastikan konten modal berada di atas overlay */
    padding: 20px;
    background: white;
    margin: 50px auto;
    width: 80%;
    max-width: 500px;
}

/*
 * FilePond Custom Styles
 */

.filepond--drop-label {
    color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    background-color: #edf0f4;
}

/**
 * Page Styles
 */

.filepond--root {
    width: 170px;
}

.color-primary {
    color: #546fff;
}

.bg-color-primary {
    background-color: #546fff;
}

.disabled-input {
    background-color: #f3f4f6; /* Warna latar belakang abu-abu terang */
    color: #6b7280; /* Warna teks abu-abu */
    cursor: not-allowed; /* Menambahkan kursor yang menunjukkan elemen tidak dapat diubah */
    pointer-events: none; /* Menonaktifkan interaksi dengan elemen */
}

#taskPopup {
    z-index: 100;
}

.ql-container.ql-snow {
    border: none !important;
}

#taskDescription .ql-container {
    border: none !important;
}

#taskDescription .ql-editor {
    border: none !important;
}

.add-card {
    z-index: 100;
}

.card-layout-scoll {
    @apply max-h-[90vh] overflow-y-auto;
}

.description-border.ql-container.ql-snow {
    @apply border-2 border-black;
}
#sendButton.hidden {
    display: none;
}

/* Tampilkan tombol jika input memiliki value */
#commentInput:not(:placeholder-shown) + #sendButton {
    display: inline-block;
}

.button {
    @apply px-2 py-1 bg-blue-600 text-white rounded-full hover:bg-blue-700;
}

.button-alert {
    @apply px-2 py-1 bg-red-600 text-white rounded-full hover:bg-red-700;
}

body {
    @apply bg-[#FAFAFA];
}

/* Overlay loading yang menutupi seluruh halaman */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Latar belakang transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Pastikan berada di atas konten lainnya */
}

/* Spinner loading */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animasi putar */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
